<% if !@followed_stocks.blank? %>
<div class="row">
    <div class="col-10">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Ticker</th>
                        <th scope="col">Last price</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% @followed_stocks.each do |stock| %>
                    <tr>
                        <th scope="row">
                            <%= stock.name %>
                        </th>
                        <td> <%= stock.ticker %>
                        </td>
                        <td> <%= stock.last_price %>
                        </td>
                        <td>
                            <% if current_user == @user %>
                            <%= link_to "Unfollow", user_stock_path(stock), method: :delete, data: {confirm: 'Are your sure?'},
                                                        class: "btn btn-danger" %>
                            <% else %>
                            <% if current_user.can_follow_stock?(stock.ticker) %>
                            <%= link_to "Follow", user_stocks_path(user: current_user, ticker: stock.ticker, name: stock.name, last_price: stock.last_price),
                                            class: "btn btn-success", method: :post %>
                            <% else %>
                            <span class="badge bg-secondary">
                                <% if !current_user.under_stock_limit? %>
                                Limit follow reached
                                <% else %>
                                Already Followed
                                <% end%>
                            </span>
                            <% end %>

                            <% end%>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%end %>